<!DOCTYPE html>
<html>
  <%- include('./partial/head.ejs') %>

  <body>
    <%- include('./partial/nav.ejs') %>
    <div class="blogs">
      <h3>All Blogs</h3>
      <% if (blogs.length > 0){ %> <% blogs.forEach(blog =>{ %>

      <h3><%= blog.title %></h3>
      <p><%= blog.snippet %></p>

      <%}) %> <% } else { %>
      <p>noo blogs yet</p>
      <% } %>
    </div>
  </body>
</html>
